body{

font-family:Arial;
background:linear-gradient(135deg,#667eea,#764ba2);
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;
padding:30px;
width:420px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

input,select{

width:100%;
padding:10px;
margin:10px 0;

}

button{

width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:6px;
cursor:pointer;

}

.signup-btn{

background:#6c63ff;
color:white;

}

.login-btn{

background:#00b894;
color:white;

}

.progress{

height:20px;
background:#ddd;
border-radius:10px;
margin:10px 0;

}

#progressBar{

height:100%;
background:#6c63ff;
width:0%;

}

.tag{

display:inline-block;
padding:6px 12px;
margin:5px;
border-radius:20px;

}

.match{

background:#d4edda;

}

.miss{

background:#f8d7da;

}

label{

display:block;
margin:5px 0;

}